root = true

[*]
indent_size = 4
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[*.{tex,cls,lua,nix}]
indent_style = space
indent_size = 2
max_line_length = 80

[*.md]
trim_trailing_whitespace = false
indent_size = 2
max_line_length = 80
