/.vscode/
/.direnv/
/build/
/result
.DS_Store
src/.dotty-ide-disabled
src/.metals
out/
_minted*
*.fls
out/*
*.fdb_latexmk
*.bak*
*.log
*.pdf
*.xdv
*.gz
*.pyg
*.synctex(busy)
*.aux
*.idx
*.ilg
*.lig
*.ind
*.out
*.toc
