*.aux
*.cp*
*.fn
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.vim
*.idx
*.ilg
*.ind
*.out
*.swp
*~
fig/chap*/Fig*.pdf
fig/icons/*_chess_queen.pdf
coverpage.pdf
sicp.tex
sicp.fdb_latexmk
exercises.tex
figures.tex
